
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   
    
@media (max-width: 768px) {
 
  .post-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  }
  .post-preview {
      padding: 10px;
  }
}

/* Estilos para móviles */
@media only screen and (max-width: 480px) {
  .post-grid {
    grid-template-columns: repeat(2, 1fr); /* 1 columna para móviles */
  }

  .post-preview {
    padding: 10px;
}

}

    .Subnav{
        background-color: #e0e1e0;
        display: flex;
        justify-content: right; /* Centra horizontalmente */
        align-items: center;
        padding-right: 250px;
    }

    .mainMenu{
     
      background-color: #E6E6E6;
    }

    .post-container {
      /* display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px; */
      width: 100%;
      padding: 20px;
    }
    

    
    .post-grid {
       display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      /* justify-content: center;  */
      gap: 20px;
      
    }    

    .post-preview {
      padding: 10px 16px;
      margin: 20px 0;
      border: 1px solid  grey;
      border-radius: 20px;
      background-color: #f9f9fc;
      opacity: 1;
      background-size: 18px 18px;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      display: inline-block; /* Hace que las tarjetas sean elementos en línea en lugar de bloques */
      width: 305px; 
      height: 660px;
      display: grid;
      grid-template-rows: auto 1fr auto;
      
    }

    .post-preview > * {
      flex: 1;
    }


    .post-preview:hover {
      box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    }

    .post-list {
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      display: grid;
    }
    
    .avatar{
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      
    }

    
    .sidebar {
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
    }
    .side-container-elements {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .side-container-elements h5 {
      margin-bottom: 10px;
    }
    /* Estilos para los select (dropdowns) */
    select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    /* Estilos para el Slider de Calificación */
    .slider-container {
      display: flex;
      align-items: center;
    }


    .class-category{
      display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2)
    }

    .comentarios{
      display: flex;
      align-items: center;
    }

  #ul-data-cards{
    list-style-type: none;
    
  }    

  .description-container {
    max-height: 100px; /* Ajusta a lo que necesites */
    overflow: hidden; /* Esto asegurará que el contenido no desborde */
  }


    .precio-clase{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #005B96;
    border-radius: 10px;
    color: white;
    box-shadow: -3px 6px 19px 0px #121212;
    margin-top: auto;
    }

    .precio-clase span{
      color: white;
    }
    S
    .precio-clase:hover{

      color: #003f6e;

    }
    .asideleft{

      flex-shrink: 0;
      width: 248px;
      display: block;


    }
    .sidebar {
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    
    .PlusIcon{
      color: #005B96;
      transition: color 0.3s ease;
      
    }
    .PlusIcon:hover {
      color: #003f6e; /* Cambia el color del ícono en hover */
    
    }


    .modal-open .post-grid {
      filter: blur(5px);
      pointer-events: none; /* Esto es opcional, pero evita que los usuarios interactúen con el contenido desenfocado */
    }

    .modal-backdrop {
      opacity: 0.07 !important; /* Ajusta a tu preferencia */
    }

    .custom-select {
      width: 100%;
      padding: 10px 15px; /* Ajusta el padding según tu preferencia */
      border: 1px solid #ddd; /* Borde personalizado */
      border-radius: 5px;
      font-size: 16px; /* Tamaño de fuente */
      background-color: #f8f8f8; /* Color de fondo */
    }
    
    .custom-label {
      background-color: #f8f8f8; /* Color de fondo para la etiqueta */
      margin-left: 5px; /* Espaciado izquierdo */
      padding: 0 5px; /* Espaciado interno */
    }

    header {
      text-align: center;
      margin-bottom: 20px;
    }
    .filter-container {
      display: flex;
      justify-content: space-between;
    }
    .filter-button {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px 16px;
      margin: 5px;
      cursor: pointer;
      display: block;
      width: 100%;
      text-align: left;
    }
    .filter-button:hover {
      background-color: #007bff;
      color: #fff;
    }
    .filter {
      width: 22%;
    }
    .filter h5 {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 14px;
    }
    .filter .MuiFormControl-root {
      width: 100%;
    }
    .filter .MuiInputLabel-root {
      background-color: #fff;
      padding-left: 5px;
    }
    .filter .MuiInput-root {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
    .filter .MuiMenuItem-root {
      padding: 5px;
    }
    .filter .Mui-selected {
      background-color: #007bff; /* Color de fondo cuando seleccionado */
      color: #fff; /* Color de texto cuando seleccionado */
    }
    .filter .MuiSlider-root {
  width: 100%;
}

/* Estilo para la etiqueta de Calificación */
.filter .MuiTypography-root {
  text-align: center;
  font-weight: bold; /* Texto en negrita */
  margin-top: 10px; /* Espaciado superior */
}

    .side-container-elements{

      box-sizing: border-box;
      
      padding: auto;
      
    }

    .sidebar-menu h5 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      text-align: left;
    }
    
    .sidebar-menu {
      list-style: none;
      padding: 0;
    }
    
    .menu-item {
      margin-bottom: 10px;
    }
    
    .menu-item:hover {
      background-color: #555; /* Cambia el color de fondo al pasar el cursor */
    }

    /* Estilos para el slider */
.slider {
  width: 80%;
  margin: 20px auto;
}

/* Cambia el color de la barra del slider */
.slider .slider-track {
  background-color: #007bff;
}

/* Cambia el color del pomo o manija del slider */
.slider .slider-handle {
  background-color: #007bff;
  border: 2px solid #007bff;
}

#tu{
  color: red;
}