.big-profile-container{
    text-align: center;
    padding: auto;
    margin-top: 20px;
}

.top-site_profile{
  padding-top: 20px;
  background-image: url('../../../Img/study-scene.png'); /* Ruta a tu imagen de fondo */
  background-size: cover; 
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}


  .info-container {
    
    position: relative;
    padding: 10px 16px;
    margin: auto;
    border-radius: 10px;
    background-color: #F8F9FA;
    display: flex;
    max-width:50%;
    max-height:50%;
    justify-content: center;
    align-items: center;
  
    border: 2mm   ;
    background-color: #FAFAFA;
box-shadow: 
    0 0 10px #8AA1B1,
    0 0 20px #8AA1B1,
    0 0 30px #8AA1B1,
    0 0 40px #8AA1B1;
transition: box-shadow 0.1s ease-in-out;
  }

  .info-container:hover {
    box-shadow: 0 0 5px #8AA1B1,
                0 0 10px #8AA1B1,
                0 0 15px #8AA1B1,
                0 0 20px #8AA1B1;
  }

  #time-stamp{
    color: grey;
    font-size: 18px;
  }
  

 
  .avatar-container {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin-right: 120px;
    border: 4px #8AA1B1 solid;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    position: relative;
  }
  .avatar-container{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);

  }
  .avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    
  }

  .avatar-container:hover img {
  opacity: 0.5;
}

.avatar-container::after {
  content: '';
  object-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../Img/editIcon.png') center/50% no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  object-position: center;
  overflow: hidden;
  object-fit: cover;
  
}
.avatar-container img :hover::after {
  opacity: 1; 
}
  
  .datos-docente {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
    
  }

  .settings{
    text-align: right;
  }

  .agregar-publi{
  display: flex; /* Usar flexbox para centrar vertical y horizontalmente */
  flex-direction: column; /* Colocar los elementos uno encima del otro */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  padding: 15px; /* Agregar espacio interno para mejorar la apariencia */
  text-align: center; /* Alinear el texto en el centro */
  }


  /* Estilos para las tarjetas de publicaciones (ajusta según tus necesidades) */
  .publicacion {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }


  .posteos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 16px; */
  }


  /* divide post por post */
  .perfil-preview{ 
    height: auto;
    max-width: 45%; 
    padding: 10px 16px 20px;
    
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2mm solid  #8AA1B1;
    background-color: #FAFAFA;
    
  }

  .perfil-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  }

  #card-body{
    text-align: left;
  }

  #box-comentarios{
    text-align: left;
  }

  .comentario-box{
    border: 1px solid black;
    margin: 10px 0;
    padding: 5px;
  }


  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    .avatar-container {
        width: 320px;
        height: 320px;
        margin-right: 60px;
    }
    .avatar-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .info-container{
      margin: auto;
    
    }
}

.box-container-historial{

  align-items: center;
}

/* Para móviles (supongamos que es un diseño para anchos menores a 600px) */
@media only screen and (max-width: 900px) {
    .info-container {
        flex-direction: column; /* Cambiar la dirección a vertical para apilar elementos */
        max-width: 90%;
    }
    .avatar-container {
        width: 150px;
        height: 150px;
        margin-right: 0; /* Remover el margen derecho */
        margin-bottom: 20px; /* Añadir un poco de margen en la parte inferior para separar del próximo elemento */
    }
    .avatar-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
        display: block;
    }
    .perfil-preview{
      flex: 0 0 100%; /* Esto hace que cada tarjeta tome el 100% del ancho */
      max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    }
}


