.big-profile-container{
    text-align: center;
    padding: auto;
    margin-top: 20px;
}


  .info-container {
    
    position: relative;
    padding: 10px 16px;
    margin: auto;
    border: 1px solid  grey;
    border-radius: 10px;
    background-color: white;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
  }

  #time-stamp{
    color: grey;
    font-size: 18px;
  }
  
  .avatar-container {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin-right: 120px;
    border: 1px black solid;
    overflow: hidden;
  }
  
  .avatar-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
    
  }
  
  .datos-docente {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
  }
  
  /* .perfil-list{
    max-width: 800px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
  } */
  
  /* Estilos para las tarjetas de publicaciones (ajusta según tus necesidades) */
  .publicacion {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* divide post por post */
  .perfil-preview{ 
    height: auto;
    max-width: 700px;
    padding: 10px 16px 20px;
    margin: 40px auto;
    border: 1px solid  grey;
    border-radius: 5px;
    background-color: #fff;
  }
 
  .inside-container{
    background-color: #E6E6E6;
  }

  .perfil-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  }

  #card-body{
    text-align: left;
  }

  #box-comentarios{
    text-align: left;
  }

  .comentario-box{
    border: 1px solid black;
    margin: 10px 0;
    padding: 5px;
  }


  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    .avatar-container {
        width: 200px;
        height: 200px;
        margin-right: 60px;
    }
    .avatar-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .info-container{
      margin: auto;
    
    }
}

/* Para móviles (supongamos que es un diseño para anchos menores a 600px) */
@media only screen and (max-width: 900px) {
    .info-container {
        flex-direction: column; /* Cambiar la dirección a vertical para apilar elementos */
    }
    .avatar-container {
        width: 150px;
        height: 150px;
        margin-right: 0; /* Remover el margen derecho */
        margin-bottom: 20px; /* Añadir un poco de margen en la parte inferior para separar del próximo elemento */
    }
    .avatar-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
        display: block;
    }
}